VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your_project_id
VITE_APPWRITE_DATABASE_ID=your_database_id
VITE_APPWRITE_PORTFOLIO_TABLE_ID=your_portfolio_table_id
VITE_APPWRITE_MESSAGES_TABLE_ID=your_messages_table_id 
VITE_APPWRITE_BUCKET_ID=your_bucket_id
